<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="mcInfo.Properties.Settings.mcinfoConnectionString"
            connectionString="Data Source=DESKTOP-JF6PA4C;Initial Catalog=mcinfo;User ID=sa;Password=pass123"
            providerName="System.Data.SqlClient" />
        <add name="mcInfo.Properties.Settings.mcinfoConnectionString1"
            connectionString="Data Source=DESKTOP-JF6PA4C;Initial Catalog=mcinfo;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>